<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <h1>TODO List</h1>
            <form @submit.prevent="handleSubmit">
                <input type="text" placeholder="New Task" v-model="newTask">
                <input type="submit">
            </form>
            <h2>Tasks List</h2>
            <ul>
                <li v-for="task in taskList">{{ task }}</li> 
            </ul>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>